<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Error occured!</h1>
    <p>We are working on fixing the issue now, if the error persists, please try again later</p>
<%- include('includes/end.ejs') %>